<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="1081" height="608" src="https://www.youtube.com/embed/0cjo58mfM-g" 
    title="월드컵 개막식 메인 공연으로 월클 입증한 BTS 정국" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    <a href="/aa">aa로 이동(default)</a><br>
    <!--   
        <a href="/aa"> 
            ==
        <a href="/aa" target="_self">
    -->
    <a href="/aa" target="_black">aa로 이동(_black)</a><br>
    <a href="/aa" target="_self">aa로 이동(_self)</a><br>
    
    <a href="/aa" target="myi">aa로 이동(myi)</a><br>
    <iframe name="myi" src="/div" width="100%" height="500" frameborder="0"></iframe>
    <a href="/aa" target="myi">aa로 이동(myi)</a><br>
    <!-- <a href="/img">이미지로 이동</a> -->
</body>
</html>