<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
    </style>
    <script>
        function recvFn(){
            mydiv.innerHTML = xmlHttp.responseText

        }
        function fn(){
            // mydiv.innerText = "Hello"
            // mydiv.innerHTML ="<h1>hi.</h1>"
            xmlHttp = new XMLHttpRequest()
            xmlHttp.open('GET', 'ajaxHTML')
            xmlHttp.onload = recvFn
            xmlHttp.send()

        }
    </script>
</head>
<body>
    <button onclick="fn()">확인</button><br>
    <a href="/ajaxHTML" target="myi">이동</a>
    <hr>
    <div id="mydiv">표시</div>
    <iframe name="myi" width="300" height="300" frameborder="0"></iframe>
</body>
</html>