<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>n</h1>
    <h1>{{n}}</h1>

    <h1>n|abs</h1>
    <h1>{{n|abs}}</h1>

    <h1>f</h1>
    <h1>{{f}}</h1>

    <h1>f|round(2)</h1>
    <h1>{{f|round(2)}}</h1>

    <h1>f|round(2,method='floor')</h1>
    <h1>{{f|round(2,method='floor')}}</h1>

    <h1>f|round(2,method='ceil')</h1>
    <h1>{{f|round(2,method='ceil')}}</h1>

    <h1>s</h1>
    <h1>{{s}}</h1>
    <h1>{{s|reverse}}</h1>
    <h1>s|capitalize</h1>
    <h1>{{s|capitalize}}</h1>
    <h1>s1</h1>
    <h1>{{s1}}</h1>
    <h1>s1|trim</h1>
    <h1>{{s1|trim}}</h1>
</body>
</html>

