<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <iframe width="868" height="488" src="https://www.youtube.com/embed/0cjo58mfM-g" title="월드컵 개막식 메인 공연으로 월클 입증한 BTS 정국" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <a href="/aa" target="_self" >이동1</a>
    <a href="/aa" target="_blank" >이동2</a>
    <a href="/aa" target="myi" >이동3</a>
    <iframe name="myi" src="/div" width="100%" height="500" frameborder="0"></iframe>

</body>
</html>