<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>10분 퀴즈</h1>
    <form action="quiz_formproc" method="get" target="myi">
        <label >숫자1:</label>
        <input type="number" name="num1"><br>
        <label >숫자2:</label>
        <input type="number" name="num2"><br>
        <button>계산</button>
    </form>
    <iframe name="myi" width="100%" height="500" frameborder="0"></iframe>
</body>
</html>