<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function recvFn(){
            mydiv.innerHTML = xmlHttp.responseText
        }
        function ajaxCall(url){
            xmlHttp = new XMLHttpRequest()
            xmlHttp.open('GET', url)
            xmlHttp.onload = recvFn
            xmlHttp.send()
        }
    </script>
</head>
<body>
    <a href="#" onclick="ajaxCall('/main')">메일</a>
    <a href="#" onclick="ajaxCall('/thai')">태국여행</a>
    <a href="#" onclick="ajaxCall('/phil')">필리핀여행</a>
    <hr>
    <div id="mydiv">this is main</div>
</body>
</html>