<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/movie">
        <div>
            <img src='/static/image/{{page}}.jpg' width=200 height=300/>
        </div>

        <input type="hidden" name="page" value="{{page}}">
        
        <input type='submit' name="action" value="이전">
        <input type='submit' name="action" value="다음">
    </form>
</body>
</html>