<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/insertProc">
        <label>이름:</label>
        <input type="text" name="myname" required><br>
        <label>나이:</label>
        <input type="number" name="myage"><br>
        <label>생일:</label>
        <input type="date" name="mybirth"><br>
        <button>확인</button>
    </form>
</body>
</html>